CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PROVIDER=smtp
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

MONGODB_URL=
MONGODB_DBNAME=


FRONDTEND_URL=http://localhost:5173

JWT_SECRET=

SQL_DIALECT=postgres
SQL_HOST=localhost
SQL_PORT=5433
SQL_USER=postgres
SQL_PASSWORD=mern@4747
SQL_DB=api-egovn